*~
*.la
*.lo
*.o

aclocal.m4
autom4te.cache/
build/
config.log
config.status
configure
conftools/config.guess
conftools/config.sub
conftools/install-sh
conftools/ltmain.sh
expat_config.h
expat_config.h.in
expat.pc
.libs
libtool
m4/
Makefile
tests/runtests
tests/runtestspp
xmlwf/xmlwf
